{{- /*
  Renders a small link to the graph page focused on the current page.
  Skipped on the graph page itself and on the home page.
*/ -}}
{{- $graphURL := relLangURL "graph/" -}}
{{- $self := strings.TrimSuffix "/" .RelPermalink -}}
{{- $graphSelf := strings.TrimSuffix "/" $graphURL -}}
{{- if and (ne $self $graphSelf) (not .IsHome) -}}
  {{- $href := printf "%s?focus=%s" $graphURL .RelPermalink -}}
  <a href="{{ $href | safeURL }}" class="brain-page-header__graph-link" title="View this page in the graph" aria-label="View this page in the graph">
    {{- partial "utils/lucide.html" (dict "name" "network" "size" 18) -}}
  </a>
{{- end -}}
